[submodule "dune-pdelab"]
	path = dune-pdelab
	url = https://gitlab.dune-project.org/pdelab/dune-pdelab.git
[submodule "dune-typetree"]
	path = dune-typetree
	url = https://gitlab.dune-project.org/pdelab/dune-typetree.git
[submodule "dune-alugrid"]
	path = dune/dune-alugrid
	url = https://gitlab.dune-project.org/extensions/dune-alugrid.git
[submodule "dune-common"]
	path = dune/dune-common
	url = https://gitlab.dune-project.org/core/dune-common.git
[submodule "dune-istl"]
	path = dune-istl
	url = https://gitlab.dune-project.org/core/dune-istl.git
[submodule "dune-geometry"]
	path = dune-geometry
	url = https://gitlab.dune-project.org/core/dune-geometry.git
[submodule "dune-grid"]
	path = dune-grid
	url = https://gitlab.dune-project.org/core/dune-grid.git
[submodule "dune-localfunctions"]
	path = dune-localfunctions
	url = https://gitlab.dune-project.org/core/dune-localfunctions.git
